html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow: hidden;
}

body {
  font-family: "MozTT", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

form {
 margin: 1rem 2rem;
}

.view {
  overflow-x: hidden;
  overflow-y: auto;
  height: -moz-calc(100% - 5rem);
}

.view.with-toolbar ul {
  padding-bottom: 7rem;
}

[role="app-bar"] {
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0, 0.85);
}

[role="app-bar"] a {
  width: 25%;
  float: left;
  display: block;
  height: 4rem;
  border: none;
  font-size: 0;
  background: transparent no-repeat 50% 50% / 3rem auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

[role="app-bar"] a :active {
  background-color: #2d7485;
}

[role="app-bar"] a.active {
  background-color: #008aaa;
}

[role="app-bar"] .icon-due {
  background-image: url(../img/categorybar_due.png);
}

[role="app-bar"] .icon-projects {
  background-image: url(../img/categorybar_projects.png);
}

[role="app-bar"] .icon-contexts {
  background-image: url(../img/categorybar_contexts.png);
}

[role="app-bar"] .icon-chaosbox {
  background-image: url(../img/categorybar_chaos_box.png);
}

aside>label.pack-checkbox {
  margin: 0.5rem 0.5rem 0 0;
  width: 2rem;
}

fieldset.error section input[type="text"]{
  background-color: #f7a6a6;
}
