html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow: hidden;
}

body {
  font-family: "MozTT", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

form.editor {
 margin: 1rem 0.5rem;
}

.view {
  overflow-x: hidden;
  overflow-y: auto;
  height: -moz-calc(100% - 5rem);
}

[data-type="list"].view {
  padding-left: 0;
}

[data-type="list"].view li, [data-type="list"].view li:last-child  {
  border-left: solid 6px white;
  padding-left: 1rem;
}

[data-type="list"].view li.task-status-1{
  border-left: solid 6px #e51400;
}

[data-type="list"].view li.task-status-2{
  border-left: solid 6px #339933;
}

[data-type="list"].view li.task-status-3{
  border-left: solid 6px #339933;
}

[data-type="list"].view li.task-status-4{
  border-left: solid 6px #aaaaaa;
}

[data-type="list"].view li.task-status-5{
  border-left: solid 6px #808080;
}

[data-type="list"].view li.task-status-6{
  border-left: solid 6px #808080;
}

.view.with-toolbar ul {
  padding-bottom: 7rem;
}

[role="app-bar"] {
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0, 0.85);
}

[role="app-bar"] a {
  width: 25%;
  float: left;
  display: block;
  height: 4rem;
  border: none;
  font-size: 0;
  background: transparent no-repeat 50% 50% / 3rem auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

[role="app-bar"] a :active {
  background-color: #2d7485;
}

[role="app-bar"] a.active {
  background-color: #008aaa;
}

[role="app-bar"] .icon-due {
  background-image: url(../img/categorybar_due.png);
}

[role="app-bar"] .icon-projects {
  background-image: url(../img/categorybar_projects.png);
}

[role="app-bar"] .icon-contexts {
  background-image: url(../img/categorybar_contexts.png);
}

[role="app-bar"] .icon-chaosbox {
  background-image: url(../img/categorybar_chaos_box.png);
}

.entity{
  background-position: 0 1rem;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 4rem;
}

.entity.context{
  background-image: url(../img/context.png);
}

.entity.folder{
  background-image: url(../img/folder.png);
}

.entity.project{
  background-image: url(../img/project.png);
}

aside>label.pack-checkbox {
  margin: 0.5rem 0.5rem 0 0;
  width: 2rem;
}

fieldset.error section input[type="text"]{
  background-color: #f7a6a6;
}

.view fieldset section textarea{
  height: auto;
  font-family: "MozTT",sans-serif;
}

#startDate, #dueDate, #contextSelector, #projectSelector{
  opacity: 0;
  width: 0;
  height: 0;
  display: block;
  border: none;
}

#dates input{
  width: 80%;
}

#dates button{
  opacity: 1;
  pointer-events: all;
}

.task-editor fieldset section{
  margin-left: 11rem;
}

.task-editor fieldset legend{
  width: 11rem;
}

.parents button.virtual{
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 0 0 0 0;
  height: 4rem;
  box-shadow: none;
  display: block;
  text-align: left;
  font-size: 1.8rem;
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
  padding: 0 1.2rem;
  resize: none;
  width: 100%;
  margin: 0;
}