<section role="region">
  <header>
    <button data-ng-click="close()"><span class="icon icon-close">close</span></button>
    <h1>About</h1>
  </header>
</section>
<section role="region" class="about">
    <h2>Chaos Control</h2>
    <h3>version 1.0</h3>
    <p>
        Chaos Control will help you organize your business and personal activities, boost your productivity, focus on things that actually matter and prevent burning out due to stress and information overload.
    </p>
    <p>
        With this simple, yet powerful app you will be able to focus on outcomes and define what actions to take to make them happen. The service will help you to control the incoming flow of tasks and process the important information.
    </p>
    <a target="_blank" href="http://tarasov-mobile.com/">Tarasov Mobile</a>
</section>
