<section role="region">
  <header>
    <menu type="toolbar">
      <button data-ng-click="add()"><span class="icon icon-add">add</span></button>
    </menu>
    <h1>Chaos Control</h1>
  </header>
  <header>
      <h2>{{currentTabTitle()}}</h2>
    </header>
</section>
<section data-type="list" class="view with-toolbar" data-ng-show="currentTab==0">
    <ul>
      <li data-ng-repeat="item in due">
        <aside>
        <label class="pack-checkbox">
          <input type="checkbox">
          <span></span>
        </label>
        </aside>
        <a>
          <p>
            {{item.name}}
          </p>
          <p>
            {{item.memo}}
          </p>
        </a>
      </li>
    </ul>
</section>
<section data-type="list" class="view with-toolbar" data-ng-show="currentTab==1">
    <ul>
      <li data-ng-repeat="item in projects">
        <a>
          <p>{{item.name}}</p>
        </a>
      </li>
    </ul>
</section>
<section data-type="list" class="view with-toolbar" data-ng-show="currentTab==2">
    <ul>
      <li data-ng-repeat="item in contexts">
        <a data-ng-click="editContext(item._id)">
          <p>{{item.name}}</p>
        </a>
      </li>
    </ul>
</section>
<section data-type="list" class="view with-toolbar" data-ng-show="currentTab==3">
    <ul>
      <li data-ng-repeat="item in chaosBox">
        <aside>
        <label class="pack-checkbox">
          <input type="checkbox">
          <span></span>
        </label>
        </aside>
        <a>
          <p>
            {{item.name}}
          </p>
          <p>
            {{item.memo}}
          </p>
        </a>
      </li>
    </ul>
</section>
<section role="app-bar">
  <a data-ng-repeat="tab in tabs" class="{{tab.icon}}" data-ng-class="{active: currentTab==$index}" data-ng-click="switchTab($index)">{{tab.name}}</a>
</section>

