<section role="region">
  <header>
    <menu type="toolbar">
      <button data-ng-click="add()"><span class="icon icon-add">add</span></button>
    </menu>
    <h1>Chaos Control</h1>
  </header>
  <header>
      <h2>{{currentTab}}</h2>
    </header>
</section>
<section data-type="list" class="view with-toolbar" data-ng-show="currentTab==0">
    <ul>
      <li data-ng-repeat="item in due">
        <aside>
        <label class="pack-checkbox">
          <input type="checkbox">
          <span></span>
        </label>
        </aside>
        <a>
          <p>
            {{item.doc.title}}
          </p>
          <p>
            {{item.doc.description}}
          </p>
        </a>
      </li>
    </ul>
</section>
<section data-type="list" class="view with-toolbar" data-ng-show="currentTab==1">
    <ul>
      <li data-ng-repeat="item in projects">
        <a>
          <p>{{item.doc.title}}</p>
        </a>
      </li>
    </ul>
</section>
<section data-type="list" class="view with-toolbar" data-ng-show="currentTab==2">
    <ul>
      <li data-ng-repeat="item in contexts">
        <a ng-click=")">
          <p>{{item.doc.title}}</p>
        </a>
      </li>
    </ul>
</section>
<section data-type="list" class="view with-toolbar" data-ng-show="currentTab==3">
    <ul>
      <li data-ng-repeat="item in chaosBox">
        <a>
          <p>{{item.doc.title}}</p>
        </a>
      </li>
    </ul>
</section>
<section role="app-bar">
  <a class="icon-due" data-ng-class="{active: currentTab==0}" data-ng-click="currentTab=0">Due today</a>
  <a class="icon-projects" data-ng-class="{active: currentTab==1}" data-ng-click="currentTab=1">Projects</a>
  <a class="icon-contexts" data-ng-class="{active: currentTab==2}" data-ng-click="currentTab=2">Contexns</a>
  <a class="icon-chaosbox" data-ng-class="{active: currentTab==3}" data-ng-click="currentTab=3">ChaosBox</a>
</section>

