<section role="region">
  <header>
  <button data-ng-click="close()"><span class="icon icon-back">back</span></button>
    <menu type="toolbar">
      <button data-ng-click="edit()" data-ng-show="isEditable"><span class="icon icon-edit">edit</span></button>
      <button data-ng-click="add()"><span class="icon icon-add">add</span></button>
    </menu>
    <h1>{{project.name}}</h1>
  </header>
  <header>
    <a data-ng-click="showSortingChooser=true"><h2 class="button">{{sortKind.name}}</h2></a>
  </header>
</section>
<section data-type="list" class="view with-toolbar">
    <ul>
      <li data-ng-repeat="item in tasks" data-ng-class="'task-status-' + getTaskStatus(item)">
        <aside>
          <label class="pack-checkbox">
            <input type="checkbox" data-ng-model="item.isCompleted" data-ng-change="taskChanged(item)">
            <span></span>
          </label>
        </aside>
        <a data-ng-click="editTask(item._id)">
          <p>
            {{item.name}}
          </p>
          <p>
            {{getDueDate(item)}}
          </p>
        </a>
      </li>
    </ul>
</section>
<form role="dialog" data-type="action"  data-ng-show="showSortingChooser">
  <header>Sorting</header>
  <menu>
    <button data-ng-repeat="sort in sorting" data-ng-click="switchSorting(sort)">{{sort.name}}</button>
  </menu>
</form>
